body{
  margin: 0;
  min-height: 100vh;
  font-size: 1.5rem;
  display:flex;
  flex-direction: column;
}
header{
  display: flex;
  position: relative;
  background-color: aquamarine;
  color: white;
  min-width: 800px;
}
h1{
  margin: 0;
}
header h2{
  margin: 0;
  padding-top: 6px;
  position: absolute;
  top: 6px;
  right: 25px;
  border: 1px solid #66cdaa;
  background-color: rgb(183, 235, 183);
  border-radius: 25px;
}
.doneSubmit{
  flex:1;
  width: 800px;
  margin: 0 auto;
  text-align: center;
  padding-top: 120px;
}
.submit_messsage{
  border: 1px solid rgb(17, 178, 241);
}
.return_top{
  color: blue;
  text-decoration: none;
}
.return_top:hover{
  text-decoration: underline;
}
footer{
  background-color: #a9a9a9;
  min-width: 800px;
}
small{
  color: white;
  float: right;
}