body{
  margin: 0;
  min-height: 100vh;
  font-size: 1.5rem;
  display:flex;
  flex-direction: column;
}
header{
  display: flex;
  position: relative;
  background-color: aquamarine;
  color: white;
  min-width: 800px;
}
h1{
  margin: 0;
}
header h3{
  margin: 0;
  padding-top: 6px;
  position: absolute;
  top: 8px;
  right: 25px;
  border:  solid black;
  background-color: rgb(243, 180, 64);
}
.createToDo{
  width: 800px;
  margin: 0 auto;
  height: 500px;
  text-align: center;
  background-color:  rgba(241, 195, 102, 0.979);
  flex: 1;
  position: relative;
}
.textarea{
  resize: none;
  width: 580px;
  height: 184px;
  outline: none;
}
input[type = "submit"]{
  width: 150px;
  height: 80px;
  font-size: 2rem;
  position: absolute;
  left: 320px;
  top: 320px;
}
.more_list button{
  width: 100px;
  height: 40px;
}
footer{
  background-color: #a9a9a9;
  min-width: 800px;
}
small{
  color: white;
  float: right;
}
