body{
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}
header{
  display: flex;
  position: relative;
  background-color: rgba(247, 149, 37, 0.945);
  color: white;
  min-width: 800px;
}
h1{
  margin: 0;
}
header h3{
  margin: 0;
  padding-top: 6px;
  position: absolute;
  top: 8px;
  right: 25px;
  border:  solid black;
  background-color: rgb(243, 180, 64);
}
header h3:hover{
  text-decoration: underline;
}
main{
  margin: auto;
  width: 800px;
  padding-top: 39px;
}
p{
  margin: 0;
}
main{
  flex: 1;
}
.button_area{
  text-align: center;
  margin-top: 30px;
}
.button{
  background-color: beige;
  border: solid black;
  padding: 10px;
  color: black;
  text-decoration: none
}
.createdList{
  margin-top: 60px;
  background-color: rgba(241, 195, 102, 0.979);
  height: 330px;
  overflow: scroll;
  padding-left: 15px;
}
form[name="input"]{
  padding-top: 20px;
  position: relative;
  word-break: keep-all;
}
.show_text{
  width: 600px;
}
.more_list{
  position: absolute;
  right: 32px;
  top: 18px;
  border: solid black;
  background-color: orange;
}
.delete_btn{
  text-decoration: none;
  color: black;
  background-color: orange;
}
footer{
  background-color: #a9a9a9;
}
small{
  color: white;
  float: right;
}