<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="create.css">
  <title>投稿が完了しました</title>
</head>
<header>
  <h1>ToDo By Rails</h1>
  <h2>ログイン</h2>
</header>
<div class="doneSubmit">
  <div class="submit_messsage">
    <h3>投稿が完了しました</h3>
    <%= link_to '投稿一覧に戻る', 'texts', method: :get, class: "return_top" %>
  </div>
</div>
<footer>
  <small>&copy; 2020 kiyo1928</small>
</footer>
<body>
</body>
</html>