<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="create.css">
  <title>投稿が完了しました</title>
</head>
<body>
<%= render partial: 'layouts/header' %>
<div class="doneSubmit">
  <div class="submit_messsage">
    <h3>投稿が完了しました</h3>
    <%= link_to '投稿一覧に戻る', 'texts', method: :get, class: "return_top" %>
  </div>
</div>
<%= render partial: 'layouts/footer' %>
</body>
</html>