<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style2.css">
  <title>ToDoApp</title>
</head>
<body>
  <header>
    <h1>ToDo By Rails</h1>
    <h2>ログイン</h2>
  </header>
  <main>
    <div class="ListTitle">
      <h1 class="list_title">Task List</h1>
      <p>今日1日のやることを書いてみよう</p>
      <div class="button_area">
        <button>create task</button>  
      </div>
    </div>
    <div class="createdList">
      <% @texts.each do |text| %>
      <form action="#">
        <div><input type="checkbox" name="check"><%= text.text %></div>
      </form>
        <%end%>
      </div>
    </div>
  </main>
  <footer>
    <small>&copy; 2020 kiyo1928</small>
  </footer>
</body>
</html>